* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/*Sezione Fixed*/
.fixed {
    background-color: lightblue;
    border-bottom: 1px solid black;
    height: 70px;
    width: 100%;
    /*position: fixed;*/
    top: 0;
}

.fixed-nav {
    padding-top: 20px;
}

.list-inline {
    list-style: none;
}

.list-inline li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.nav-left{
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.nav-right {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}

.list-inline1 {
    list-style: none;
}

.list-inline1 > li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline1  a {
    text-decoration: none;
    font-size: 13px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: coral;
}

.btn-white {
    background-color: cornsilk;
    border: 1px solid coral;
    color: coral;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    text-decoration: none;
}

#a1 {
    color: blue;
    font-size: 10px;
}

/*Header*/
.section1-header {
    height: 70px;
    width: 100%;
    padding-top: 20px;
}

.header-logo {
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.nav-right1 {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}

.jumbotron {
    height: 600px;
    width: 100%;
    background-color: #fff3ee;
    background-image: url('../immagini/jumbotron.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn-large {
    padding: 15px;
}

.w50 {
    width: 50%;
    
}

h1 {
    padding-top: 30px;
    font-size: 40px;
}

p {
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*Main*/
.box-main1 {
    height: 1100px;
    width: 100%;
    background-color: powderblue;
}

/*Section1*/
.section1-main > img {
    height: 115px;
}

.container2 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 40px;
    text-align: center;
}

/*Section2*/
.undersection1-main {
    width: 100%;
    float: none;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
}

.undersection2-main,
.undersection3-main,
.undersection4-main {
    height: 450px;
    background-color: white;
    width: 31%;
}

.undersection3-main {
     margin: 0 30px;
}

/*Section3*/
.section3-main {
    height: 500px;
    width: 100%;
    background-color: #22c3b6;

}