* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/*Sezione Fixed*/
.fixed {
    background-color: lightblue;
    border-bottom: 1px solid black;
    height: 70px;
    width: 100%;
    /*position: fixed;*/
    top: 0;
}

.fixed-nav {
    padding-top: 20px;
}

.list-inline {
    list-style: none;
}

.list-inline li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.nav-left{
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.nav-right {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}

.list-inline1 {
    list-style: none;
}

.list-inline1 > li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline1  a {
    text-decoration: none;
    font-size: 13px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: coral;
}

.btn-white {
    background-color: cornsilk;
    border: 1px solid coral;
    color: coral;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    text-decoration: none;
}

#a-fixed {
    color: blue;
    font-size: 10px;
}

/*Header*/
.section1-header {
    height: 70px;
    width: 100%;
    padding-top: 20px;
}

.header-logo {
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.nav-right1 {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}

.jumbotron {
    height: 600px;
    width: 100%;
    background-color: #fff3ee;
    background-image: url('../immagini/jumbotron.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn-large {
    padding: 15px;
}

.w50 {
    width: 50%;
    
}

h1 {
    padding-top: 30px;
    font-size: 40px;
}

p {
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*Main*/
.box-main1 {
    height: 1100px;
    width: 100%;
    background-color: powderblue;
}

/*Section1*/
.section1-main > img {
    height: 115px;
}

.container2 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 40px;
    text-align: center;
}

/*Section2*/
.undersection1-main {
    width: 100%;
    float: none;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
}

.circle {
    height: 10px;
    width: 10px;
    display: inline-block;
    font-size: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: coral;
    color: white;
    text-align: center;
}

.circle1 {
    margin-left: 10px;
}

.circle-undersection-main {
    height: 10px;
    width: 10px;
    font-size: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: coral;
    color: white;
    text-align: left;
}

.free-hubspot {
    width: 50%;
    height: 100%;
    margin-right: 70px;
    padding-left: 40px;
    margin-top: 40px;
}

#hr-inline {
    display: inline-block;
    width: 200px;
    margin-left: 30px;
}

.li-main {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
}

.li-main2 {
    list-style: none;
    font-size: 12px;
    margin-left: 20px;
}

.p-main {
    font-size: 11px;
}

.main-logo {
    height: 100%;
    width: 20%;
    margin-left: 70px;
    padding: 40px;
}

.main-logo > img {
    height: 85px;
    width: auto;
}

.undersection2-main,
.undersection3-main,
.undersection4-main {
    height: 450px;
    background-color: white;
    width: 31%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.undersection2-main > img {
    height: 85px;
    width: auto;
    padding-left: 100px;
    margin-top: 20px;
}

.undersection2-main > a {
    margin-left: 85px;
    margin-top: 40px;
}

.undersection3-main > img {
    height: 85px;
    width: auto;
    padding-left: 85px;
    margin-top: 20px;
}

.undersection3-main > a {
    margin-left: 85px;
    margin-top: 40px;
}

.undersection4-main > img {
    height: 85px;
    width: auto;
    padding-left: 100px;
    margin-top: 20px;
}

.undersection4-main > a {
    margin-left: 85px;
    margin-top: 40px;
}

.center {
    text-align: center;
}

.h4-main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.undersection3-main {
     margin: 0 30px;
}

.undersection1-main {
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

/*Section3*/
.box-main2 {
    height: 600px;
    width: 100%;
    background-color: #22c3b6;
}

.h3-section3 {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 5px;
}

#p-main {
    color: white;
    font-size: 12px;
    text-align: center;
}

.rettangle-main {
    height: 175px;
    background: red;
    border: 1px solid white;
    width: calc(100% / 4);
}

/*sezione4*/
.section4-main {
    height: 550px;
    width: 100%;
}

.box1-section4-main {
    margin-bottom: 70px;
}

.under1-box1-section4 {
    height: 150px;
    width: 20%;
    margin-right: 5%;
}

.container3 {
    width: 60%;
    margin-left: 20%;
    padding-top: 40px;
}

#h2-section4 {
    font-size: 35px;
}

#h4-section4 {
    font-size: 25px;
}

#p-section4 {
    font-size: 10px;
}

#p-100 {
    font-size: 16px;
}


.under2-box1-section4 {
    height: 150px;
    width: 75%;
}

.image-under2-box1 {
    height: 20px;
    width: 105px;
    margin: 10px;    
}

.under1-box2-section4 {
    height: 250px;
    width: 40%;
    margin-right: 15%;
}

.under2-box2-section4 {
    /*height: 240px;*/
    width: 40%;
}

.under2-box2-section4 > img {
    height: 250px;
    width: 60%;
    margin-left: 160px;
}

/*Footer*/
.section-footer {
    height: 500px;
    width: 100%;
    background-color: #32495b;
}

/*Section1 footer*/
.undersection-footer {
    margin: 10px;
    height: 250px;
    width: calc(100% / 4 - 20px);
    margin-top: 30px;
}

/*section2 footer*/
.list-inline2 {
    list-style: none;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 15px;
}

.list-inline2 > li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline2  a {
    text-decoration: none;
    font-size: 11px;
    color: white;
}

.hr-white {
    color: white;
}

.footer-logo {
    height: 50px;
    width: 50%;
    margin-top: 40px;    
}

.nav-footer {
    width: 50%;
    height: 100%;    
}

.list-inline3 {
    list-style: none;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 15px;
}

.list-inline3 > li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline3  a {
    text-decoration: none;
    font-size: 11px;
    color: white;
}

h6 {
    color: white;
    font-size: 13px;

}

.list-inline4 {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 15px;
}

.list-inline4 > li {
    font-size: 13px;
    margin-bottom: 10px;
    color: white;
}

.btn-footer {
    padding: 5px 10px;
    font-size: 11px;
    color: #32495b;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
}

.social-logo > i {
    color: white;
    margin-right: 15px;
}

.footer-logo > img {
    height: 50%;
    width: auto;
}

#p-copyright {
    color: white;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
}